.Page {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #46516e;
  flex-direction: column;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow: auto;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
}

.TextArea {
  width: 280px;
  height: 45px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: rgb(209, 110, 110);
  letter-spacing: 1px;
  line-height: 20px;
}

textarea::placeholder {
    color: darkgray;
    padding: 10px;
  }

.Form {
  width: 400px;
}

.MyRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.MyMessage {
  width: 45%;
  background-color: pink;
  color: #46516e;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.MyMessage .System {
  background-color: chartreuse;
}

.PartnerRow {
  justify-content: flex-start;
}

.PartnerMessage {
  width: 45%;
  background-color: transparent;
  color: lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  display: block;
}

.room-select {
    border-radius: 10px;
    /* margin-top: 10px;
    margin-left: 5px; */
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid lightgray;
    outline: none;
    color: rgb(221, 71, 71);
    letter-spacing: 1px;
    line-height: 20px; 
    margin: 5px;
}

.selection-container {
  /* width: 50%;
  height: 60px; */
  /* border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: rgb(209, 110, 110);
  letter-spacing: 1px;
  line-height: 20px; */
  display: flex;
  width: 280px;
  height: 45px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: rgb(209, 110, 110);
  letter-spacing: 1px;
  line-height: 20px;
}

.my-area {
    background-color: rgb(233, 197, 35);
    border: none;
    border-radius: 10px;
    color: #46516e;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
    display: flex;
  justify-content: space-between;
}


.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  /* width: max-content; */
  max-width: 700px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  width: 100%;
  max-height: 50%;
  font-size: 20px;
  resize: none;
  border: 1px solid black;
  border-radius: 0 0 7px 7px;
  padding: 0;
}

.message-item {
  width: fit-content;
  margin: 2px 0 0 8px;
  /* padding: 10px 15px; */
}


.submit-button {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  background-color: rgb(194, 38, 38);
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.new-message-input-field, .submit-button {
  border-color: #9a9a9a;
}

.messages-container {
  background-color: #ececec;
}

.messages-footer {
  margin-top: 5px;
  visibility: hidden;
}

.system-message, .my-message, .partner-message {
  /* margin-left: 55px;
  margin-bottom: 3px;
  border-radius: 20px;
  padding: 12px 20px;
  line-height: 18px;
  display: table;
  max-width: 75%;
  margin-right: auto;
  display: grid; */

  margin-left: 55px;
    /* margin-bottom: 3px; */
    border-radius: 20px;
    padding: 8px 16px;
    line-height: 18px;
    display: table;
    /* max-width: 75%; */
    margin-right: auto;
    display: grid;
}

.system-message {
  /* background-color: #d6bcea;*/
  color: black; 
  background-color: #D4EAF4 !important;
  max-width: 260px;
  margin: 5px auto !important;
  font-style: italic;
  text-align: center;
  padding: 5px 10px;
  font-size: 11px;
}

.my-message{
  /* background-color: royalblue */
    color: #ffffff;
    background-color: #fe8081;
    margin-left: auto;
    margin-right: 18px;
    background-color: rgb(0, 132, 255);
}

.partner-message {
    color: #1b1b1b;
    background-color: #fff;
}

.msg-sender {
  font-size: 13px;
  font-weight: 400;
}
.msg-text {
  font-size: 15px;
  font-weight: 400;
}
.msg-time {
  font-size: 12px;
  font-weight: 300;
}
.scroll-down {
  margin-right: 20px;
  cursor: pointer;
}
.leave-room {
  cursor: pointer;
}
