.Page {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #46516e;
  flex-direction: column;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow: auto;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
}

.TextArea {
  width: 98%;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: rgb(209, 110, 110);
  letter-spacing: 1px;
  line-height: 20px;
  /* ::placeholder {
    color: lightgray;
  } */
}

.Form {
  width: 400px;
}

.MyRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.MyMessage {
  width: 45%;
  background-color: pink;
  color: #46516e;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.MyMessage .System {
  background-color: chartreuse;
}

.PartnerRow {
  justify-content: flex-start;
}

.PartnerMessage {
  width: 45%;
  background-color: transparent;
  color: lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  display: block;
}

.my-id {
    background-color: rgb(233, 197, 35);
    border: none;
    border-radius: 10px;
    color: #46516e;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
}


.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  width: 100%;
  max-height: 50%;
  font-size: 20px;
  resize: none;
  border: 1px solid black;
  border-radius: 0 0 7px 7px;
  padding: 0;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.submit-button {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  background-color: pink;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
}

.messages-container, .new-message-input-field, .submit-button {
  border-color: #9a9a9a;
}

.system-message {
  background-color: #d6bcea;
  color: black;
}

.my-message{
  background-color: royalblue
}

.partner-message {
  background-color: seagreen;
}

.message-item span {
  margin: 5px;
}